{{ define "word/index" }}
<head>
    <title>Words</title>
    {{ template "head" }}
</head>
<body class="d-flex h-80 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {{ template "nav" }}
        <main role="main" class="container">
            <div class="container">
                <div class="row g-3">
                    {{ template "word-nav" }}
                    <div class="album py-0">
                        <div class="row g-3">
                            <div class="col-md-12 mb-3 mx-auto">
                                <div class="row g-3">
                                    {{range $w := .words}}
                                        <div class="col-md-6">
                                            <div class="card mb-4 box-shadow border bg-dark" id="{{$w.ID.Hex}}">
                                                <div class="card-top p-1">
                                                    <div class="d-flex justify-content-between">
                                                        <button class="btn btn-sm btn-outline-secondary float-start" data-toggle="collapse" data-target="#m-{{$w.ID.Hex}}" aria-expanded="false">
                                                            <i class="bi bi-arrows-angle-expand"></i>
                                                        </button>
                                                        <div class="float-center">{{$w.Word}}</div>

                                                        <div class="float-end">
                                                            <button type="submit" class="btn btn-sm btn-outline-secondary" onclick="location.href='/word/update?id={{$w.ID.Hex}}';">
                                                                <i class="bi bi-justify"></i>
                                                            </button>
                                                            {{if eq $w.IsChecked 0}}
                                                                <button type="submit" class="btn btn-sm btn-outline-secondary" onclick='check("{{$w.ID.Hex}}")';>
                                                                    <i class="bi bi-check-circle-fill"></i>
                                                                </button>
                                                            {{else}}
                                                                <button type="submit" class="btn btn-sm btn-outline-secondary" onclick='uncheck("{{$w.ID.Hex}}")';>
                                                                    <i class="bi bi-x-circle-fill"></i>
                                                                </button>
                                                            {{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="my-0">
                                                <div class="card-body">
                                                    <p class="card-text" id="example" name="example">{{$w.Example}}</p>
                                                    <div class="collapse" id="m-{{ $w.ID.Hex }}" name="meaning">
                                                        <div class="card-text">
                                                            {{$w.Meaning}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="mt-auto text-white-50 text-center text-small"></footer>
    </div>

    <script>
        function check(id) {
            var card = document.getElementById(id);
            card.style.display = 'none';
            var http = new XMLHttpRequest();
            http.open("POST", "/word/check", true);
            http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            var params = "id=" + id;
            http.send(params);
        }
    </script>
    {{ template "js" }}
</body>
{{ end }}