{{ define "inc/index" }}
<head>
    <title>Inc</title>
    {{ template "head" }}
</head>
<body class="d-flex h-80 text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {{ template "nav" }}
        <main class="col-10 mx-auto" role="main">
            <div class="row g-3">
                {{ template "inc-nav" }}
                <div class="col-12 mx-auto">
                    <div class="col-12 p-3 text-white bg-dark border rounded-3" style="display:table;">
                        <table class="table table-hover table-dark caption-top">
                            <thead>
                                <tr>
                                    <th scope="col"><i class="bi bi-list"></i> Name</th>
                                    <th scope="col"><i class="bi bi-code-slash"></i> Dev</th>
                                    <th scope="col"><i class="bi bi-shop"></i> Pub</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range $inc := .incs }}
                                    <tr>
                                        <td>{{ $inc.Name }}</td>
                                        <td>{{ $inc.IsDeveloper }}</td>
                                        <td>{{ $inc.IsPublisher }}</td>
                                    </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Search modal -->
            <div class="modal fade" id="modal_search" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-dark text-light">
                        <div class="modal-header">
                            <h5 class="modal-title mx-auto">Name</h5>
                        </div>
                        <div class="modal-body bg-dark text-light">
                            <form class="needs-validation" novalidate>
                                <div class="mb-3">
                                    <input type="input" class="form-control bg-dark text-light" id="search" name="search" required>
                                </div>
                                <hr>
                                <div class="float-end">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                                    <button type="button" class="btn btn-success" onclick="search();">SEARCH</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="mt-auto text-white-50 text-center text-small"></footer>
    </div>
    <script>
        function search() {
            var date = document.getElementById("date").value;
            window.location.replace("/act?date="+date);
        }
    </script>
    {{ template "js" }}
</body>
{{ end }}
