{{ define "game/create" }}
<head>
    <title>Create Game</title>
    {{ template "head" }}
</head>
<body class="text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {{ template "nav" }}
        <main class="col-10 mx-auto" role="main">
            <h4 class="mb-3 text-center">Create Game</h4><hr>
            <form class="create-game needs-validation" novalidate method="post" action="/game/create">
                <div class="row g-3">
                    <!-- Title -->
                    <div class="col-12">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control bg-dark text-light" name="title" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid title is required.
                        </div>
                    </div>

                    <!-- Developers -->
                    <div class="col-6">
                        <label for="developer_id" class="form-label">Developer</label>
                        <select class="form-select bg-dark text-light" id="developer_id" name="developer_id" required>
                            <option value=""></option>
                            {{range $d := .developers}}
                            <option value={{$d.ID.Hex}}>{{$d.Name}}</option>
                            {{end}}
                        </select>
                        <div class="invalid-feedback">
                            Valid developer is required.
                        </div>
                    </div>

                    <!-- Publishers -->
                    <div class="col-6">
                        <label for="publisher_id" class="form-label">Publisher</label>
                        <select class="form-select bg-dark text-light" id="publisher_id" name="publisher_id" required>\
                            <option value=""></option>
                            {{range $p := .publishers}}
                            <option value={{$p.ID.Hex}}>{{$p.Name}}</option>
                            {{end }}
                        </select>
                        <div class="invalid-feedback">
                            Valid publisher is required.
                        </div>
                    </div>

                    <!-- Genres -->
                    <div class="col-6">
                        <label for="genre" class="form-label">Genre</label>
                        <select class="form-select bg-dark text-light" id="genre" name="genre" required>
                            <option value=""></option>
                            {{ range $g := .genres }}
                            <option value={{$g}}>{{$g}}</option>
                            {{ end }}
                        </select>
                        <div class="invalid-feedback">
                            Valid genre is required.
                        </div>
                    </div>

                    <!-- Platforms -->
                    <div class="col-6">
                        <label for="platform" class="form-label">Platform</label>
                        <select class="form-select bg-dark text-light" id="platform" name="platform" required>
                            {{range $p := .platforms}}
                            <option value="{{$p}}">{{$p}}</option>
                            {{end }}
                        </select>
                        <div class="invalid-feedback">
                            Valid genre is required.
                        </div>
                    </div>
                </div>
                
                <hr class="my-4">
                <div class="btn-group btn-group-lg col-12" role="group">
                    <button type="button" class="btn btn-outline-light col-4" onclick="window.history.go(-1); return false;">
                        <i class="bi bi-arrow-left-circle"></i>
                    </button>
                    <button type="submit" class="btn btn-outline-light col-8">
                        <i class="bi bi-arrow-right-circle"></i>
                    </button>
                </div>
            </form>
        </main>
        <footer class="mt-auto text-white-50 text-center text-small"></footer>
    </div>
    {{ template "js" }}
</body>
{{ end }}