{{ define "game/index" }}

<head>
    <title>Game</title>
    {{ template "head" }}
    <style>
        ul {
            font-size: 0;
        }

        ul li {
            display: inline-block;
            font-size: 14px;
        }
    </style>
</head>

<body class="d-flex h-80 text-center text-light bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {{ template "nav" }}
        <main role="main" class="container">
            <div class="container">
                <div class="row g-3">
                    {{ template "game-nav" }}
                    <div class="album py-0">
                        <div class="row g-3">
                            <div class="col-md-12 mb-3 mx-auto">
                                <div class="row g-3">
                                    {{ range $detail := .details }}
                                    <div class="col-lg-4 d-flex align-items-stretch">
                                        <div class="card mb-4 box-shadow border bg-dark" id="{{$detail.Game.ID.Hex}}">
                                            <img class="card-img-top img-fluid"
                                                src="/assets/img/games/{{ $detail.Game.ID.Hex }}.webp">
                                            <div class="card-body">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item bg-dark text-light">
                                                        <strong>{{$detail.Game.Title}}</strong>
                                                    </li>
                                                    <!-- Platform & Rating -->
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-center bg-dark text-light">
                                                        <div class="input-group">
                                                            <span class="input-group-text bg-dark text-light">
                                                                {{ if eq $detail.Game.Platform "PC" }}
                                                                <i class="bi bi-pc-display"></i>
                                                                {{ else if eq $detail.Game.Platform "PlayStation" }}
                                                                <i class="bi bi-playstation"></i>
                                                                {{ else if eq $detail.Game.Platform "Nintendo Switch" }}
                                                                <i class="bi bi-nintendo-switch"></i>
                                                                {{ else }}
                                                                <i class="bi bi-tablet"></i>
                                                                {{ end }}
                                                            </span>
                                                            <input type="text"
                                                                class="form-control form-control-sm bg-dark text-light text-end"
                                                                value="{{ $detail.Game.Rating }}" disabled>
                                                        </div>
                                                    </li>

                                                    <!-- Developer -->
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-center bg-dark text-light">
                                                        <div class="input-group">
                                                            <span class="input-group-text bg-dark text-light"><i
                                                                    class="bi bi-code"></i></span>
                                                            <input type="text"
                                                                class="form-control form-control-sm bg-dark text-light text-end"
                                                                value="{{ $detail.Developer.Name }}" disabled>
                                                        </div>
                                                    </li>

                                                    <!-- Publisher -->
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-center bg-dark text-light">
                                                        <div class="input-group">
                                                            <span class="input-group-text bg-dark text-light"><i
                                                                    class="bi bi-shop"></i></span>
                                                            <input type="text"
                                                                class="form-control form-control-sm bg-dark text-light text-end"
                                                                value="{{ $detail.Publisher.Name }}" disabled>
                                                        </div>
                                                    </li>

                                                    <!-- Status & Playtime -->
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-center bg-dark text-light">
                                                        <div class="input-group">
                                                            <span class="input-group-text bg-dark text-light">
                                                                {{ if eq $detail.Game.Status "Played" }}
                                                                <i class="bi bi-battery-full"></i>
                                                                {{ else if eq $detail.Game.Status "Playing" }}
                                                                <i class="bi bi-battery-charging"></i>
                                                                {{ else }}
                                                                <i class="bi bi-battery"></i>
                                                                {{ end }}
                                                            </span>
                                                            <input type="text"
                                                                class="form-control form-control-sm bg-dark text-light text-end"
                                                                value="{{ $detail.PlayHour }} {{if gt $detail.PlayHour 1}}hours{{else}}hour{{end}}"
                                                                disabled>
                                                        </div>
                                                    </li>

                                                    <!-- Start button -->
                                                    <li
                                                        class="list-group-item d-flex justify-content-between bg-dark text-light">
                                                        <div class="btn-group float-start"></div>
                                                        <div class="btn-group float-end">
                                                            <button type="button" class="btn btn-warning float-end"
                                                                onclick="location.href='/game/update?id={{ $detail.Game.ID.Hex }}';">
                                                                <i class="bi bi-justify"></i>
                                                            </button>
                                                            {{ if eq $detail.Game.Status "Playing" }}
                                                            <button type="button" class="btn btn-success float-end"
                                                                onclick="location.href='/act/watch/start?type=Gaming&game_id={{ $detail.Game.ID.Hex }}';">
                                                                <i class="bi bi-lightning"></i>
                                                            </button>
                                                            {{ end }}
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="mt-auto text-light-50 text-center text-small"></footer>
    </div>
    {{ template "js" }}
</body>
{{ end }}