{{ define "game/rank" }}
<head>
    <title>Game</title>
    {{ template "head" }}
</head>
<body class="d-flex h-80 text-center text-light bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {{ template "nav" }}
        <main role="main" class="container">
            <div class="container">
                
            </div>
        </main> 
        <footer class="mt-auto text-light-50 text-center text-small"></footer>
    </div>
    {{ template "js" }}
</body>
{{ end }}