{{ define "game/update" }}
<head>
    <title>Update Game</title>
    {{ template "head" }}
</head>
<body class="text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {{ template "nav" }}
        <main class="col-10 mx-auto" role="main">
            <h4 class="mb-3 text-center">Update Game</h4><hr>
            <form enctype="multipart/form-data" class="create-game needs-validation" novalidate method="post" action="/game/update">
                <input type="hidden" name="id" value="{{ .game.ID.Hex }}" />
                <div class="row g-3">
                    <!-- Title -->
                    <div class="col-12">
                        <label for="title" class="form-label">Title</label>
                        <button type="button" class="btn btn-sm btn-outline-secondary float-end" data-bs-toggle="modal" data-bs-target="#confirmation">
                            <i class="bi bi-trash"></i>
                        </button>
                        <input type="text" class="form-control bg-dark text-light" name="title" value="{{.game.Title}}" required>
                        <div class="invalid-feedback">
                            Valid title is required.
                        </div>
                    </div>

                    <!-- Developers -->
                    <div class="col-6">
                        <label for="developer_id" class="form-label">Developer</label>
                        <select class="form-select bg-dark text-light" id="developer_id" name="developer_id" required>
                            <option value=""></option>
                            {{ range $d := .developers }}
                                <option value="{{$d.ID.Hex}}" {{if eq $d.ID.Hex $.game.DeveloperID.Hex}}selected{{end}}>{{$d.Name}}</option>
                            {{ end }}
                        </select>
                        <div class="invalid-feedback">
                            Valid developer is required.
                        </div>
                    </div>

                    <!-- Publishers -->
                    <div class="col-6">
                        <label for="publisher_id" class="form-label">Publisher</label>
                        <select class="form-select bg-dark text-light" id="publisher_id" name="publisher_id" required>
                            <option value=""></option>
                            {{ range $p := .publishers }}
                                <option value="{{$p.ID.Hex}}" {{if eq $p.ID.Hex $.game.PublisherID.Hex}}selected{{end}}>{{$p.Name}}</option>
                            {{ end }}
                        </select>
                        <div class="invalid-feedback">
                            Valid publisher is required.
                        </div>
                    </div>

                    <!-- Status -->
                    <div class="col-6">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-select bg-dark text-light" id="status" name="status" required>
                            {{ range $s := .statuses }}
                            <option value="{{$s}}" {{if eq $s $.game.Status}}selected{{end}}>{{$s}}</option>
                            {{ end }}
                        </select>
                        <div class="invalid-feedback">
                            Valid status is required.
                        </div>
                    </div>

                    <!-- PlayTime -->
                    <div class="col-3">
                        <label for="play_time_hour" class="form-label">Hour</label>
                        <input type="number" class="form-control bg-dark text-light" name="play_time_hour" value="{{.play_time_hour}}">
                    </div>

                    <div class="col-3">
                        <label for="play_time_min" class="form-label">Min</label>
                        <input type="number" class="form-control bg-dark text-light" name="play_time_min" value="{{.play_time_min}}">
                    </div>

                    <!-- Genres -->
                    <div class="col-6">
                        <label for="genre" class="form-label">Genre</label>
                        <select class="form-select bg-dark text-light" id="genre" name="genre" required>
                            <option value=""></option>
                            {{ range $g := .genres }}
                            <option value="{{$g}}" {{if eq $g $.game.Genre}}selected{{end}}>{{$g}}</option>
                            {{ end }}
                        </select>
                        <div class="invalid-feedback">
                            Valid genre is required.
                        </div>
                    </div>

                    <!-- Platforms -->
                    <div class="col-6">
                        <label for="platform" class="form-label">Platform</label>
                        <select class="form-select bg-dark text-light" id="platform" name="platform" required>
                            <option value=""></option>
                            {{ range $p := .platforms }}
                            <option value="{{$p}}"{{if eq $p $.game.Platform}}selected{{end}}>{{$p}}</option>
                            {{ end }}
                        </select>

                        <div class="invalid-feedback">
                            Valid platform is required.
                        </div>
                    </div>

                    <!-- Ranking -->
                    <div class="col-3">
                        <label for="ranking" class="form-label">Rank</label>
                        <input type="number" class="form-control bg-dark text-light" name="ranking" value="{{.game.Ranking}}">
                    </div>

                    <!-- Rating -->
                    <div class="col-3">
                        <label for="rating" class="form-label">Rating</label>
                        <select class="form-select bg-dark text-light" id="rating" name="rating">
                            <option value=""></option>
                            <option value="S+" {{if eq $.game.Rating "S+" }}selected{{end}}>S+</option>
                            <option value="S" {{if eq $.game.Rating "S" }}selected{{end}}>S</option>
                            <option value="S-" {{if eq $.game.Rating "S-" }}selected{{end}}>S-</option>
                            <option value="A+" {{if eq $.game.Rating "A+" }}selected{{end}}>A+</option>
                            <option value="A" {{if eq $.game.Rating "A" }}selected{{end}}>A</option>
                            <option value="A-" {{if eq $.game.Rating "A-" }}selected{{end}}>A-</option>
                            <option value="B" {{if eq $.game.Rating "B" }}selected{{end}}>B</option>
                            <option value="C" {{if eq $.game.Rating "C" }}selected{{end}}>C</option>
                        </select>
                    </div>

                    <!-- Cover -->
                    <div class="col-6">
                        <label for="cover" class="form-label">Cover</label>
                        <input type="file" class="form-control bg-dark text-light" id="cover" name="cover">
                    </div>
                </div> 

                <hr class="my-4">
                <div class="btn-group btn-group-lg col-12" role="group">
                    <button type="button" class="btn btn-outline-light col-4" onclick="window.history.go(-1); return false;">
                        <i class="bi bi-arrow-left-circle"></i>
                    </button>
                    <button type="submit" class="btn btn-outline-light col-8">
                        <i class="bi bi-arrow-right-circle"></i>
                    </button>
                </div>
            </form>

            <!-- Delete confirmation modal -->
            <div class="modal fade" id="confirmation" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark text-light">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body bg-dark text-light">
                            Are your sure to delete it?
                        </div>
                        <div class="modal-footer bg-dark text-light">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" onclick="location.href='/game/delete?id={{.game.ID.Hex}}';">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="mt-auto text-white-50 text-center text-small"></footer>
    </div>
    {{ template "js" }}
</body>
{{ end }}