{
    "HttpPort": 0,
    "TcpPort": 0,
    "Log": "app.log",
    "MySQL": {
        "Username": "",
        "Password": "",
        "Database": ""
    },
    "MongoDB": {
        "URL": "",
        "Database": "",
        "Username": "",
        "Password": ""

    },
    "Redis": {
        "Size": 0,
        "Network": "",
        "Address": "",
        "Password": ""
    }
}