{{ define "act/create" }}
<head>
    <title>Create Activity</title>
    {{ template "head" }}
</head>
<body class="text-white bg-dark">
  <div class="cover-container d-flex w-100 h-50 p-3 mx-auto flex-column">
    {{ template "nav" }}
    <main class="col-10 mx-auto" role="main">
        <h4 class="mb-3 text-center">Create Activity</h4><hr>
        <form class="needs-validation" method="post" action="/act/create" novalidate>
            <div class="col-12 mx-auto">
                <div class="row g-3">
                    <!-- Type -->
                    <div class="col-12">
                        <label for="type" class="form-label">Type</label>
                        <select class="form-select bg-dark text-light" id="type" name="type" required>
                            <option value="Gaming">Gaming</option>
                            <option value="Programming">Programming</option>
                        </select>
                        <div class="invalid-feedback">
                            Valid type is required.
                        </div>
                    </div>

                    <!-- Date -->
                    <div class="col-6">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" class="form-control bg-dark text-light" id="date" name="date" required />
                    </div>

                    <!-- Duration -->
                    <div class="col-6">
                        <label for="duration" class="form-label">Duration</label>
                        <input type="number" class="form-control bg-dark text-light" id="duration" name="duration" min="0" required />
                    </div>

                    <!-- Game -->
                    <div class="col-12">
                        <label for="game_id" class="form-label">Game</label>
                        <button type="button" class="btn btn-sm btn-outline-secondary float-end" onclick="location.href='/game/create';">
                            <i class="bi bi-plus-circle"></i>
                        </button>
                        <select class="form-select bg-dark text-light" id="game_id" name="game_id" required>
                            <option value=""></option>
                            {{ range $g := .games }}
                            <option value="{{$g.ID.Hex}}">{{$g.Title}}</option>
                            {{ end }}
                        </select>
                    </div>
                </div>
                <hr class="my-4">
                    <div class="btn-group btn-group-lg col-12" role="group">
                        <button type="button" class="btn btn-outline-light col-4" onclick="window.history.go(-1); return false;">
                            <i class="bi bi-arrow-left-circle"></i>
                        </button>
                        <button type="submit" class="btn btn-outline-light col-8">
                            <i class="bi bi-arrow-right-circle"></i>
                        </button>
                    </div>
            </div>
        </form>
    </main>
    <footer class="mt-auto text-white-50 text-center text-small"></footer>
  </div>
  {{ template "js" }}
  <script>
        window.onload = function() {
            // Date
            const date = document.getElementById("date");
            var today = new Date()
            var year = today.getFullYear()
            var month = today.getMonth() + 1
            var day = today.getDate()
            var toDigits = function (num, digit) {
              num += ''
              if (num.length < digit) { num = '0' + num }
              return num
            }
            var yyyy = toDigits(year, 4)
            var mm = toDigits(month, 2)
            var dd = toDigits(day, 2)
            var ymd = yyyy + "-" + mm + "-" + dd;
            date.value = ymd;

            // Type
            const type = document.getElementById("type");
            const game_id = document.getElementById("game_id");
            type.addEventListener('change', (event) => {
                if (type.value != "Gaming") { game_id.required = false; }
            });
        };
    </script>
</body>
{{ end }}