{{ define "inc/create" }}
<head>
    <title>Create Inc</title>
    {{ template "head" }}
</head>
<body class="text-white bg-dark">
  <div class="cover-container d-flex w-100 h-50 p-3 mx-auto flex-column">
    {{ template "nav" }}
    <main class="col-10 mx-auto" role="main">
        <h4 class="mb-3 text-center">Create Inc</h4><hr>
        <form class="needs-validation" novalidate method="post" action="/inc/create">
            <!-- Developer and Publisher -->
            <div class="row g-3">
                <div class="col-12">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control bg-dark text-light" name="name" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid name is required.
                    </div>
                </div>
            </div>

            <div class="row pt-2">
                <!-- Developer and Publisher -->
                <div class="col-4"> 
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="is_developer" name="is_developer" value=1>
                        <label class="form-check-label" for="is_developer">Developer</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="is_publisher" name="is_publisher" value=1>
                        <label class="form-check-label" for="is_publisher">Publisher</label>
                    </div>
                </div>
            </div>

            <hr class="my-4">
            <div class="btn-group btn-group-lg col-12" role="group">
                <button type="button" class="btn btn-outline-light col-4" onclick="window.history.go(-1); return false;">
                    <i class="bi bi-arrow-left-circle"></i>
                </button>
                <button type="submit" class="btn btn-outline-light col-8">
                    <i class="bi bi-arrow-right-circle"></i>
                </button>
            </div>
        </form>
    </main>
    <footer class="mt-auto text-white-50 text-center text-small"></footer>
  </div>
  {{ template "js" }}
</body>
{{ end }}