{{ define "error/error" }}
<head>
  <title>Ditto</title>
  {{ template "head" }}
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {{/* {{ template "nav" }} */}}

    <main class="px-3">
      <p>Error occurred.</p>
    </main>

    <footer class="mt-auto text-white-50 text-center text-small"></footer>
  </div>
</body>
{{ end }}