{{ define "todo/index" }}
<head>
    <title>Todo</title>
    {{ template "head" }}
</head>
<body class="d-flex h-80 text-center text-light bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {{ template "nav" }}
        <main role="main" class="container">
            <div class="row g-3">
                {{ template "todo-nav" }}
                <div class="col-12 mx-auto">
                    <div class="col-12 p-3 text-white bg-dark border rounded-3" style="display:table;">
                        <table class="table table-hover table-dark caption-top">
                            <thead>
                                <tr>
                                    <th scope="col"><i class="bi bi-list-check"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range $todo := .todos }}
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="{{$todo.ID}}" {{if eq $todo.IsChecked true}}checked{{end}}>
                                                <label class="form-check-label" for="is_checked" id="todo_{{$todo.ID}}">{{$todo.Content}}</label>
                                            </div>
                                        </td>
                                    </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
    {{ template "js" }}
    <script type="text/javascript">
        var checkboxes = document.querySelectorAll("input[type='checkbox']");
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].addEventListener("click", check);
        }
        function check(e) {
            var todo = document.getElementById('todo_'+this.id);
            if (e.target.checked) {
                todo.innerHTML = '<del>'+todo.textContent+'</del>';
                submit(this.id, true);
            } else {
                todo.innerHTML = todo.textContent;
                submit(this.id, false);
            }
        }

        function submit(id, ischecked) {
            var http = new XMLHttpRequest();
            http.open("POST", "/todo/check", true);
            http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            var params = 'id='+id;
            if (ischecked) {
                params += '&is_checked=1';
            } else {
                params += '&is_checked=0';
            }
            http.send(params);
        }
    </script>
</body>
{{ end }}