{{ define "word/create" }}
<head>
    <title>Create Word</title>
    {{ template "head" }}
</head>
<body class="text-white bg-dark">
  <div class="cover-container d-flex w-100 h-50 p-3 mx-auto flex-column">
    {{ template "nav" }}
    <main class="col-8 mx-auto" role="main">
        <h4 class="mb-3 text-center">NEW WORD</h4>
        <hr class="my-4">
        <form class="needs-validation" novalidate method="post" action="/word/create">
            <div class="col-12 mx-auto">
                <!-- Word & Pattern -->
                <div class="row p-2">
                    <!-- Word -->
                    <div class="col-12">
                        <label for="word" class="form-label">Word</label>
                        <input type="text" class="form-control bg-dark btn-lg" style="color:white;" name="word" placeholder="" value="" required>
                        <div class="invalid-feedback">Valid word is required.</div>
                    </div>
                </div>

                <!-- Example -->
                <div class="row p-2">
                    <div class="col-12">
                        <label for="example" class="form-label">Example</label>
                        <textarea name="example" rows="3" class="form-control bg-dark" style="color:white;"></textarea>
                    </div>
                </div>

                <!-- Meaning -->
                <div class="row p-2">
                    <div class="col-12">
                        <label for="meaning" class="form-label">Meaning</label>
                        <textarea name="meaning" rows="3" class="form-control bg-dark" style="color:white;"></textarea>
                    </div>
                </div>

                <hr class="my-4">
                <div class="btn-group btn-group-lg col-12" role="group">
                    <button type="button" class="btn btn-outline-light col-4" onclick="window.history.go(-1); return false;">
                        <i class="bi bi-arrow-left-circle"></i>
                    </button>
                    <button type="submit" class="btn btn-outline-light col-8">
                        <i class="bi bi-arrow-right-circle"></i>
                    </button>
                </div>
            </div>
        </form>
    </main>
    <footer class="mt-auto text-white-50 text-center text-small"></footer>
  </div>
  {{ template "js" }}
</body>
{{ end }}